body{
    height: 100%;
    padding-top: 70px;
    background: white;
}

nav > a{
    font-size: medium;
    color: white;
}

.navbar{
    position: fixed;
}

.navbar-custom {
    background-color: rgb(216, 46, 46);
    color: white;
}

#body {
    padding:10px;
    padding-bottom:120px;
}

#container {
    min-height:100%;
    position:relative;
}

footer{
    position:absolute;
    bottom:0;
    width:100%;
}



.footerlink{
    bottom: auto;
}
.page-footer{
    background-color: rgb(236, 82, 82);
    color: white;
    
}

.footer-copyright{
    background-color: rgb(150, 22, 22);
}

